fastapi
uvicorn[standard]
pydantic
requests
beautifulsoup4
pypdf
python-docx
langchain
langchain-community
langchain-openai
chromadb
tiktoken
python-dotenv
PyPDF2
python-multipart
streamlit
pandas
openai
firecrawl-py
playwright
gc
deque
Path